td {
    vertical-align: top;
    padding: 0 10pt;
}

#trellises {

}

#main {
    display: table;
}

#content {

}

field {
    display: block;
}

.icon {
    margin-left: 10pt;
    width: 12pt;
    cursor: pointer;
}

.item img {
    /*float:right;*/
}